
@import "./layout/navigation.scss";




.center{
    width: 95%;
    margin: 0 auto;
    background-color: white; 
    margin-top: 10px;
}
.search-section{
    
    padding: 10px 40px;
    .input-section{
        @include verticalMiddle;
        .search-input{
            width:200px;
            height: 34px;
            margin-right: 10px;
        }
        .btn-query{
            margin-right: 10px;
        }
        @include btn;
            
    }

    .table-list-section{
        padding: 10px 0px 0px;
        // @include horizontalSpace;
        align-items: center;
        
        span{
            margin: 0 5px 0px;
        }
        label{
            font-size: 12px;
        }
    }
}

.table-section{
    height: 600px;
    .toolbar{
        // padding: 20px;
        @include btn;
    }
    .table-detail-section{
        padding: 0px 20px;
        table{
            table-layout:fixed;
            word-wrap:break-word;
            width: 100%;
        }
        td,th{
            text-align: center;
        }
        .th-inner {
            display:inline-block;
        }
        // table,table tr th, table tr td { border:0.5px solid grey; }
    }

}


.add-user{
    label{
        font-size: 15px;
    }
    span{
       margin: 0 5px 0px;
    }
    .orgniztion-type{
        margin-right: 20px;
    }
}

 .fixed-table-container thead th .th-inner,.fixed-table-container tbody td .th-inner{
        white-space: initial;
}


    

@mixin table-XL {


}

@mixin table-S {
    .table-section{
       // height: 700px;
        .search{
            float: left!important;
            width: 60%;
        }
    }
     
}

@media (min-width: 800px){
    @include table-XL;
}

@media (max-width: 800px){
    @include table-S;
}