<!DOCTYPE html>
<html class="core" lang="zh-Hans">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>众杰能询报价系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="copyright" content="众杰能">
	<meta name="robots" content="index,follow">
	<meta name="author" content=""> 
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="default" />
	<meta property="og:locale" content="zh-Hans">
    <link inline rel="stylesheet" type="text/css" href="styles/login.css">
    <script src="http://static.ftchinese.com/js/jquery-1.10.2.min.js?0"></script>
    <script src="scripts/login.js"></script>

</head>
<body>
<div class="logo">
    <img src="plugin/bootstrap/logo.png"/>
</div>

<div class="login-container">
    <div class="content-section">
        <div class="inner-section">
        <div class = "title-section">存款业务询报价系统</div>

        <div class = "input-section">
            <input class="username" maxLength="12" name="UserName"> 
        </div>
        <div class = "input-section">
            <input class="password" maxLength="12" name="password"> 
        </div>
        <div class = "input-section">
            <input type="checkbox" id="rememberMe"  name="rememberMe" checked>
            <label for="rememberMe">记住账号</label>
        </div>
        <button class="login-btn" type="submit" onclick="verifyEmailOrPassword()">登录</button>

</div>
    </div>

</div>

</body>

<script type="text/javascript">

</script>
</html>